<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-4">
      <h1 class="text-center my-4">Contacts</h1>
      <div class="row">
        <div class="col">
          <div class="alert alert-danger">
            Test Error
          </div>
        </div>
      </div>
      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Verso</td>
            <td>Dessendre</td>
            <td>(00)984730594</td>
            <td>plsstoppainting@gmail.com</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/footer'); %>